.item {
    margin-top: 10px;
  }

#sort {
    width: 420px;
    margin-left: auto;
    text-align: center;
}
#ranking-h1 {
  width: 1100px;
  border-top: solid 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#ranking {
  display: flex;
  margin-bottom: 20px;
}
.ranking-img {
  width: 80%;
  height: 80%;
}
.ranking-item{
  width: 300px;
  height: 300px;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: #6091d3;
  border: solid 3px #6091d3;
  border-radius: 10px;
  text-align: center;
}